body{
		    font: 12px;
		    font-family: Verdana;
		    text-shadow: 1px 1px 2px black;
		}
		input[type=text],input[type=password]{
			border: 3px green dashed;
			border-radius : 10px;
			background-color : blue;
			color: white;
			padding: 5px 125px;
			margin: 8px 0;
			box-sizing: border-box;
		}
		input[type=date]{
			border: 3px green dashed;
			background-color : blue;
			color: white;
			border-radius : 10px;
			padding: 5px 150px;
			margin: 8px 0;
			box-sizing: border-box;
		}
		select{
			border: 3px green dashed;
			border-radius : 10px;
			background-color : blue;
			color: white;
			padding: 5px 13em;
			margin: 8px 0;
			box-sizing: border-box;
		}
		
		input:hover, select:hover{
			background-color:green;
			border: 3px blue solid;
		}
		input:focus, select:focus{
			background-color:white;
			color: black;
			border: 3px green solid;
		}
		#sexe{
			margin-right : 21em;
		}
		#mainTitleL {
		    color: red;
		    padding: 3px 6px;
		}
		.star{
			color:red;
			margin-top: 1.5em;
		}
		.field{
			font-style: italic;
		}
		.field-set{
			display: flex;
    		justify-content: space-between;
		}
		.fieldLabel{
			height: 4em;
    		width: 16em;
		}
		.buttondiv{
			display: flex;
		    justify-content: center;
		    margin-top: 2em;
		}
		#valid, #cancel{
			display: inline-block;
		    background-color: white;
		    border-radius: 10px;
		    border: 4px double #cccccc;
		    text-align: center;
		    font-size: 12px;
		    padding: 5px;
		    width: 200px;
		    -webkit-transition: all 0.5s;
		    -moz-transition: all 0.5s;
		    -o-transition: all 0.5s;
		    transition: all 0.5s;
		    cursor: pointer;
		    margin: 5px;
		}
		
		#valid{
			border: 4px double green;
		    color: green;
		}
		#cancel{
		    color: red;
		    border: 4px double red;
		}
		#valid:hover{
			background-color: green;
			border: 4px double black;
		    color: white;
		    width: 250px;
		}
		#cancel:hover{
			background-color: red;
		    color: white;
		    border: 4px double black;
		    width: 250px;
		}